<div class="row">
  <div class="col-3">
    <app-search (searchChange)="updateFilters($event)" [controls]="['title', 'priceFrom']"></app-search>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-2">
        <select [ngModel]="filters.value.itemsPerPage" (change)="updateFilters({itemsPerPage: $event.target.value})">
          <option *ngFor="let item of [2,5,10]">
            {{item}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <app-add-item (newItem)="newItemHandler($event)"></app-add-item>
      </div>
      <div class="col-8">
        <ngb-pagination [collectionSize]="total" [pageSize]="filters.value.itemsPerPage" [maxSize]="8"
          (pageChange)="updateFilters({currentPage: $event})"></ngb-pagination>
      </div>
    </div>
    <app-grid [data]="items" (gridEvent)="gridAction($event)" [columnsSettings]="colSettings"></app-grid>
  </div>
</div>
