<div class="container-fluid">
  <nav class="nav nav-pills mt-2 mb-2">
    <a routerLink="items" routerLinkActive="active" class="nav-item nav-link">items</a>
    <a routerLink="workers" routerLinkActive="active" class="nav-item nav-link">workers</a>
    <a routerLink="register" routerLinkActive="active" class="nav-item nav-link">register</a>
    <a routerLink="profile" routerLinkActive="active" class="nav-item nav-link">profile</a>
    <app-auth></app-auth>
  </nav>

  <router-outlet></router-outlet>

</div>
